.idea
.env
.dev.env
.local.env
.log
Taskfile.yml
docs/note.txt

RZHDBack/config/local.yaml
RZHDBack/config/dev.yaml
RZHDBack/docs/certificate.txt
RZHDBack/docs/note.txt
RZHDBack/Dockerfile.dev
RZHDBack/docker-compose.yaml
RZHDBack/temp/unusedJSON
RZHDBack/Taskfile.yaml

RZHDFront/node_modules
RZHDFront/dist
RZHDFront/*.local
RZHDFront/public/Archive/idk
RZHDFront/public/Archive/idk2
RZHDFront/public/Archive/PrivateProd
RZHDFront/docker-compose.yaml
RZHDFront/README.md
RZHDFront/Taskfile.yaml
RZHDFront/Dockerfile.local
RZHDFront/Dockerfile.dev
RZHDFront/nginx.dev.conf

# TEMP BLOCK
RZHDBack/docs/README.md